*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(73, 73, 73);
    color: white;
}

.App{
    max-width: 900px;
    min-height: 100vh;
    margin: 10px auto;

}

.car{
    display: flex;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid lightskyblue;
    align-items: center;
    justify-content: space-between;
}

.car__type{
    margin: 0 15px;
}

.car__type span{
    font-size: 32px;
    color: transparent;
}

.car__plate{
    padding: 7px;
    border: 1px solid black;
}
.cars-filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cars-filter input,
.cars-filter select{
    padding: 10px 15px;
    background: none;
    outline: none;
    border: 1px solid white;
    color: black;
    font-size: 16px;
}

.cars-filter input::-webkit-outer-spin-button,
.cars-filter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cars-filter select::-ms-expand {
    display: none;
}